@page "/"

<h1>Bienvenue dans votre espace!</h1>

Bienvenue sur votre espace de facturation, dans la catégorie Factures vous retrouverez les infos sur les dernières factures en fonction des entreprises client!
Dans la catégorie CA vous retrouverez une estimation du chiffre d'affaires réelles et supposées !
